body {
	font-size: 14px;
	font-family: "Playfair Display", "Arial", sans-serif;
	color: #626262;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

a {
	color: #b4ad9e;
}

a:hover {
	color: #898377;
}

.nav-link {
	text-transform: uppercase;
	margin-left: 100px;
}

.nav-link::after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #cccccc;
	transform: scale(0); 
	transition: all 0.3s;
}

.nav-link:hover::after {
	transform: scale(1); 
}

.navbar-brand {
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 400;
	color: #000000;
	font-family: "Inconsolata", "Arial", monospace;
}

.slider {
	margin-bottom: 50px;
}

.post-category,
.link-more {
	color: #b4ad9e;
	font-family: "Ubuntu","Arial", monospace;
	font-weight: 300;
	text-transform: uppercase;
}

.post-title,
.card-title {
	margin-top: 20px;
	margin-bottom: 30px;
}

.post-desciption {
	margin-bottom: 40px;`
}

.grit-posts {
	margin-top: 80px;
	margin-bottom: 80px;
}

.card {
	margin-bottom: 100px;
	border: none;
}

.card-body {
	margin-top: 30px;
	padding: 0;
}

.load-more {
	padding: 16px 32px;
	border: 1px solid #626262;
	border-radius: 0;
}

.load-more span {
	display: none;
}